

<form class="m-5">
  <h3>Registro</h3>
  <div class="form-group">
    <label for="formGroupExampleInput">Nombre</label> <br />
    <input name="nombre" [(ngModel)]="Person.nombre" type="text" id="formGroupExampleInput" placeholder="Ingrese su nombre">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Apellido</label> <br />
    <input name="apellido" type="text" [(ngModel)]="Person.apellido" id="formGroupExampleInput2" placeholder="Ingrese su apellido">
  </div>

  <button class="button-group bg-primary" (click)="SavePersona()">Enviar</button>
</form>

    <app-ciudad [ListaPersonas]="ListaPerson"> </app-ciudad>

